# Importando bibliotecas

In [39]:
import pandas as pd
import os
import numpy as np
import mysql.connector
from datetime import date
from tkinter import *
import matplotlib.pyplot as plt
import seaborn as sns 
from sqlalchemy import create_engine
%matplotlib inline

# Lendo relatório e transformando em tidy data frame - data wrangling

In [40]:
df = pd.read_excel(r'C:\Users\kimge\OneDrive\Alecrim\RelatorioWeb\relatorio_de_pedidos20230116-4-12bs0iw.xlsx')

In [41]:
df.shape

(376, 24)

In [42]:
df.columns

Index(['Número do Pedido', 'Id do Pedido', 'Nome', 'Telefone',
       'Data do Pedido', 'Data do Agendamento', 'Hora do Agendamento',
       'Status', 'Produtos', 'Método de pagamento', 'Taxa de entrega',
       'Taxa de serviço', 'Taxa adicional', 'Acréscimo da maquineta',
       'Desconto', 'Total do pedido', 'Troco para', 'Rua', 'Número', 'Bairro',
       'Complemento', 'Cidade', 'Estado', 'CEP'],
      dtype='object')

### Selecionando as colunas que interessam

In [43]:
df_selecao_colunas = df[['Número do Pedido', 'Id do Pedido',
       'Data do Pedido', 'Produtos', 'Método de pagamento', 'Taxa de entrega',
       'Taxa de serviço', 'Total do pedido']]

In [44]:
df_selecao_colunas.head(5)

,Número do Pedido,Id do Pedido,Data do Pedido,Produtos,Método de pagamento,Taxa de entrega,Taxa de serviço,Total do pedido
0,375,15100033,2023-01-15 15:38:01.953,1.0 x Cavala Frita ou Grelhada \n,Cartão de Crédito,0,0.0,44.0
1,374,15099213,2023-01-15 14:42:20.442,1.0 x Paleta Suína ao vinho \n2.0 x Refrigeran...,Cartão de Crédito,0,14.2,156.2
2,373,15098901,2023-01-15 14:21:21.007,2.0 x Linguiça Josefina Acebolada \n1.0 x Moqu...,Cartão de Crédito,0,0.0,321.0
3,372,15098637,2023-01-15 14:05:34.025,1.0 x Filet Mignon Acebolado \n Ponto da Carn...,Cartão de Débito,0,12.7,139.7
4,371,15098635,2023-01-15 14:05:32.121,1.0 x Sucos ( Jarra 500ml ) \n1.0 x Refrigente...,"Cartão de Crédito, Dinheiro",0,30.0,315.0

### Renomeando as colunas

In [45]:
df_selecao_colunas.rename(columns = {'Número do Pedido':'comanda',
                                     'Id do Pedido':'id_pedido',
                                     'Data do Pedido':'data_pedido',
                                     'Produtos':'produto',
                                     'Método de pagamento':'metodo_pagamento', 
                                     'Taxa de entrega':'taxa_entrega',
                                    'Taxa de serviço':'taxa_servico',
                                     'Total do pedido':'total_pedido'}, inplace=True)

C:\Users\kimge\Anaconda3\lib\site-packages\pandas\core\frame.py:4441: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [46]:
df_selecao_colunas.head(5)

,comanda,id_pedido,data_pedido,produto,metodo_pagamento,taxa_entrega,taxa_servico,total_pedido
0,375,15100033,2023-01-15 15:38:01.953,1.0 x Cavala Frita ou Grelhada \n,Cartão de Crédito,0,0.0,44.0
1,374,15099213,2023-01-15 14:42:20.442,1.0 x Paleta Suína ao vinho \n2.0 x Refrigeran...,Cartão de Crédito,0,14.2,156.2
2,373,15098901,2023-01-15 14:21:21.007,2.0 x Linguiça Josefina Acebolada \n1.0 x Moqu...,Cartão de Crédito,0,0.0,321.0
3,372,15098637,2023-01-15 14:05:34.025,1.0 x Filet Mignon Acebolado \n Ponto da Carn...,Cartão de Débito,0,12.7,139.7
4,371,15098635,2023-01-15 14:05:32.121,1.0 x Sucos ( Jarra 500ml ) \n1.0 x Refrigente...,"Cartão de Crédito, Dinheiro",0,30.0,315.0

### Abrindo a coluna "produto" utilizando os métodos "assign" combinado com "explode"

In [47]:
df_produto_aberto = df_selecao_colunas.assign(produto = df_selecao_colunas['produto'].str.split('\n')).explode('produto')

In [48]:
df_produto_aberto.head(10)

,comanda,id_pedido,data_pedido,produto,metodo_pagamento,taxa_entrega,taxa_servico,total_pedido
0,375,15100033,2023-01-15 15:38:01.953,1.0 x Cavala Frita ou Grelhada,Cartão de Crédito,0,0.0,44.0
0,375,15100033,2023-01-15 15:38:01.953,,Cartão de Crédito,0,0.0,44.0
1,374,15099213,2023-01-15 14:42:20.442,1.0 x Paleta Suína ao vinho,Cartão de Crédito,0,14.2,156.2
1,374,15099213,2023-01-15 14:42:20.442,2.0 x Refrigerantes em Lata,Cartão de Crédito,0,14.2,156.2
1,374,15099213,2023-01-15 14:42:20.442,1.0 x Moqueca de Camarão Pequeno,Cartão de Crédito,0,14.2,156.2
1,374,15099213,2023-01-15 14:42:20.442,2.0 x Refrigerantes em Lata,Cartão de Crédito,0,14.2,156.2
1,374,15099213,2023-01-15 14:42:20.442,,Cartão de Crédito,0,14.2,156.2
2,373,15098901,2023-01-15 14:21:21.007,2.0 x Linguiça Josefina Acebolada,Cartão de Crédito,0,0.0,321.0
2,373,15098901,2023-01-15 14:21:21.007,1.0 x Moqueca de Camarão Familia,Cartão de Crédito,0,0.0,321.0
2,373,15098901,2023-01-15 14:21:21.007,1.0 x Filet Mignon ao Molho Madeira,Cartão de Crédito,0,0.0,321.0

### Separando data e hora em colunas separadas

In [49]:
df_produto_aberto['data'] = df_produto_aberto['data_pedido'].apply(lambda x: x.strftime('%d/%m/%Y'))
df_produto_aberto['hora'] = df_produto_aberto['data_pedido'].apply(lambda x: x.strftime('%H:%M'))

In [50]:
df_produto_aberto.head(5)

,comanda,id_pedido,data_pedido,produto,metodo_pagamento,taxa_entrega,taxa_servico,total_pedido,data,hora
0,375,15100033,2023-01-15 15:38:01.953,1.0 x Cavala Frita ou Grelhada,Cartão de Crédito,0,0.0,44.0,15/01/2023,15:38
0,375,15100033,2023-01-15 15:38:01.953,,Cartão de Crédito,0,0.0,44.0,15/01/2023,15:38
1,374,15099213,2023-01-15 14:42:20.442,1.0 x Paleta Suína ao vinho,Cartão de Crédito,0,14.2,156.2,15/01/2023,14:42
1,374,15099213,2023-01-15 14:42:20.442,2.0 x Refrigerantes em Lata,Cartão de Crédito,0,14.2,156.2,15/01/2023,14:42
1,374,15099213,2023-01-15 14:42:20.442,1.0 x Moqueca de Camarão Pequeno,Cartão de Crédito,0,14.2,156.2,15/01/2023,14:42

### Excluindo as linhas que não são produtos

In [51]:
print(df_produto_aberto.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2190 entries, 0 to 375
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   comanda           2190 non-null   int64
 1   id_pedido         2190 non-null   int64
 2   data_pedido       2190 non-null   datetime64[ns]
 3   produto           2134 non-null   object
 4   metodo_pagamento  2125 non-null   object
 5   taxa_entrega      2190 non-null   int64
 6   taxa_servico      2190 non-null   float64
 7   total_pedido      2190 non-null   float64
 8   data              2190 non-null   object
 9   hora              2190 non-null   object
dtypes: datetime64[ns](1), float64(2), int64(3), object(4)
memory usage: 188.2+ KB
None

In [52]:
print(df_produto_aberto.isna().sum())

comanda              0
id_pedido            0
data_pedido          0
produto             56
metodo_pagamento    65
taxa_entrega         0
taxa_servico         0
total_pedido         0
data                 0
hora                 0
dtype: int64

In [53]:
# Excluindo linhas que não são produtos (NaN, linhas vazias, obervações de pratos)
df_produto_aberto.dropna(subset=['produto'], inplace=True)

In [54]:
df_produto_aberto.head(5)

,comanda,id_pedido,data_pedido,produto,metodo_pagamento,taxa_entrega,taxa_servico,total_pedido,data,hora
0,375,15100033,2023-01-15 15:38:01.953,1.0 x Cavala Frita ou Grelhada,Cartão de Crédito,0,0.0,44.0,15/01/2023,15:38
0,375,15100033,2023-01-15 15:38:01.953,,Cartão de Crédito,0,0.0,44.0,15/01/2023,15:38
1,374,15099213,2023-01-15 14:42:20.442,1.0 x Paleta Suína ao vinho,Cartão de Crédito,0,14.2,156.2,15/01/2023,14:42
1,374,15099213,2023-01-15 14:42:20.442,2.0 x Refrigerantes em Lata,Cartão de Crédito,0,14.2,156.2,15/01/2023,14:42
1,374,15099213,2023-01-15 14:42:20.442,1.0 x Moqueca de Camarão Pequeno,Cartão de Crédito,0,14.2,156.2,15/01/2023,14:42

In [55]:
print(df_produto_aberto.isna().sum())

comanda              0
id_pedido            0
data_pedido          0
produto              0
metodo_pagamento    11
taxa_entrega         0
taxa_servico         0
total_pedido         0
data                 0
hora                 0
dtype: int64

In [56]:
print(df_produto_aberto.isna().any())

comanda             False
id_pedido           False
data_pedido         False
produto             False
metodo_pagamento     True
taxa_entrega        False
taxa_servico        False
total_pedido        False
data                False
hora                False
dtype: bool

In [57]:
df_produto_aberto = df_produto_aberto.replace({" ": np.nan})

In [58]:
print(df_produto_aberto.isna().sum())

comanda              0
id_pedido            0
data_pedido          0
produto              0
metodo_pagamento    11
taxa_entrega         0
taxa_servico         0
total_pedido         0
data                 0
hora                 0
dtype: int64

In [59]:
df_produto_aberto

,comanda,id_pedido,data_pedido,produto,metodo_pagamento,taxa_entrega,taxa_servico,total_pedido,data,hora
0,375,15100033,2023-01-15 15:38:01.953,1.0 x Cavala Frita ou Grelhada,Cartão de Crédito,0,0.0,44.0,15/01/2023,15:38
0,375,15100033,2023-01-15 15:38:01.953,,Cartão de Crédito,0,0.0,44.0,15/01/2023,15:38
1,374,15099213,2023-01-15 14:42:20.442,1.0 x Paleta Suína ao vinho,Cartão de Crédito,0,14.2,156.2,15/01/2023,14:42
1,374,15099213,2023-01-15 14:42:20.442,2.0 x Refrigerantes em Lata,Cartão de Crédito,0,14.2,156.2,15/01/2023,14:42
1,374,15099213,2023-01-15 14:42:20.442,1.0 x Moqueca de Camarão Pequeno,Cartão de Crédito,0,14.2,156.2,15/01/2023,14:42
...,...,...,...,...,...,...,...,...,...,...
373,2,13894329,2022-12-12 12:45:39.819,1.0 x Paleta Suína ao vinho,Dinheiro,0,13.2,145.2,12/12/2022,12:45
373,2,13894329,2022-12-12 12:45:39.819,1.0 x Batata Frita,Dinheiro,0,13.2,145.2,12/12/2022,12:45
373,2,13894329,2022-12-12 12:45:39.819,,Dinheiro,0,13.2,145.2,12/12/2022,12:45
374,1,13894097,2022-12-12 12:35:18.644,1.0 x Bolinho de Peixe,Cartão de Crédito,0,3.8,41.8,12/12/2022,12:35
374,1,13894097,2022-12-12 12:35:18.644,,Cartão de Crédito,0,3.8,41.8,12/12/2022,12:35

### Separando quantidade e produto

In [60]:
df_produto_aberto['produto_unico'] = df_produto_aberto['produto'].apply(lambda x: x.split(' x ')[-1])
df_produto_aberto['quantidade'] = df_produto_aberto['produto'].apply(lambda x: x.split(' x ')[0])

In [61]:
df_produto_aberto.head(5)

,comanda,id_pedido,data_pedido,produto,metodo_pagamento,taxa_entrega,taxa_servico,total_pedido,data,hora,produto_unico,quantidade
0,375,15100033,2023-01-15 15:38:01.953,1.0 x Cavala Frita ou Grelhada,Cartão de Crédito,0,0.0,44.0,15/01/2023,15:38,Cavala Frita ou Grelhada,1.0
0,375,15100033,2023-01-15 15:38:01.953,,Cartão de Crédito,0,0.0,44.0,15/01/2023,15:38,,
1,374,15099213,2023-01-15 14:42:20.442,1.0 x Paleta Suína ao vinho,Cartão de Crédito,0,14.2,156.2,15/01/2023,14:42,Paleta Suína ao vinho,1.0
1,374,15099213,2023-01-15 14:42:20.442,2.0 x Refrigerantes em Lata,Cartão de Crédito,0,14.2,156.2,15/01/2023,14:42,Refrigerantes em Lata,2.0
1,374,15099213,2023-01-15 14:42:20.442,1.0 x Moqueca de Camarão Pequeno,Cartão de Crédito,0,14.2,156.2,15/01/2023,14:42,Moqueca de Camarão Pequeno,1.0

### Transformando a coluna "quantidade em numérico e tudo que não é numérico em NaN

In [62]:
df_produto_aberto['quantidade'] = pd.to_numeric(df_produto_aberto['quantidade'], errors='coerce')

In [63]:
df_produto_aberto.head(10)

,comanda,id_pedido,data_pedido,produto,metodo_pagamento,taxa_entrega,taxa_servico,total_pedido,data,hora,produto_unico,quantidade
0,375,15100033,2023-01-15 15:38:01.953,1.0 x Cavala Frita ou Grelhada,Cartão de Crédito,0,0.0,44.0,15/01/2023,15:38,Cavala Frita ou Grelhada,1.0
0,375,15100033,2023-01-15 15:38:01.953,,Cartão de Crédito,0,0.0,44.0,15/01/2023,15:38,,NaN
1,374,15099213,2023-01-15 14:42:20.442,1.0 x Paleta Suína ao vinho,Cartão de Crédito,0,14.2,156.2,15/01/2023,14:42,Paleta Suína ao vinho,1.0
1,374,15099213,2023-01-15 14:42:20.442,2.0 x Refrigerantes em Lata,Cartão de Crédito,0,14.2,156.2,15/01/2023,14:42,Refrigerantes em Lata,2.0
1,374,15099213,2023-01-15 14:42:20.442,1.0 x Moqueca de Camarão Pequeno,Cartão de Crédito,0,14.2,156.2,15/01/2023,14:42,Moqueca de Camarão Pequeno,1.0
1,374,15099213,2023-01-15 14:42:20.442,2.0 x Refrigerantes em Lata,Cartão de Crédito,0,14.2,156.2,15/01/2023,14:42,Refrigerantes em Lata,2.0
1,374,15099213,2023-01-15 14:42:20.442,,Cartão de Crédito,0,14.2,156.2,15/01/2023,14:42,,NaN
2,373,15098901,2023-01-15 14:21:21.007,2.0 x Linguiça Josefina Acebolada,Cartão de Crédito,0,0.0,321.0,15/01/2023,14:21,Linguiça Josefina Acebolada,2.0
2,373,15098901,2023-01-15 14:21:21.007,1.0 x Moqueca de Camarão Familia,Cartão de Crédito,0,0.0,321.0,15/01/2023,14:21,Moqueca de Camarão Familia,1.0
2,373,15098901,2023-01-15 14:21:21.007,1.0 x Filet Mignon ao Molho Madeira,Cartão de Crédito,0,0.0,321.0,15/01/2023,14:21,Filet Mignon ao Molho Madeira,1.0

### Excluindo as linhas NaN na coluna "quantidade"

In [64]:
df_produto_aberto.dropna(subset=['quantidade'], inplace=True)

In [65]:
df_produto_aberto.head(8)

,comanda,id_pedido,data_pedido,produto,metodo_pagamento,taxa_entrega,taxa_servico,total_pedido,data,hora,produto_unico,quantidade
0,375,15100033,2023-01-15 15:38:01.953,1.0 x Cavala Frita ou Grelhada,Cartão de Crédito,0,0.0,44.0,15/01/2023,15:38,Cavala Frita ou Grelhada,1.0
1,374,15099213,2023-01-15 14:42:20.442,1.0 x Paleta Suína ao vinho,Cartão de Crédito,0,14.2,156.2,15/01/2023,14:42,Paleta Suína ao vinho,1.0
1,374,15099213,2023-01-15 14:42:20.442,2.0 x Refrigerantes em Lata,Cartão de Crédito,0,14.2,156.2,15/01/2023,14:42,Refrigerantes em Lata,2.0
1,374,15099213,2023-01-15 14:42:20.442,1.0 x Moqueca de Camarão Pequeno,Cartão de Crédito,0,14.2,156.2,15/01/2023,14:42,Moqueca de Camarão Pequeno,1.0
1,374,15099213,2023-01-15 14:42:20.442,2.0 x Refrigerantes em Lata,Cartão de Crédito,0,14.2,156.2,15/01/2023,14:42,Refrigerantes em Lata,2.0
2,373,15098901,2023-01-15 14:21:21.007,2.0 x Linguiça Josefina Acebolada,Cartão de Crédito,0,0.0,321.0,15/01/2023,14:21,Linguiça Josefina Acebolada,2.0
2,373,15098901,2023-01-15 14:21:21.007,1.0 x Moqueca de Camarão Familia,Cartão de Crédito,0,0.0,321.0,15/01/2023,14:21,Moqueca de Camarão Familia,1.0
2,373,15098901,2023-01-15 14:21:21.007,1.0 x Filet Mignon ao Molho Madeira,Cartão de Crédito,0,0.0,321.0,15/01/2023,14:21,Filet Mignon ao Molho Madeira,1.0

In [66]:
df_produto_aberto.columns

Index(['comanda', 'id_pedido', 'data_pedido', 'produto', 'metodo_pagamento',
       'taxa_entrega', 'taxa_servico', 'total_pedido', 'data', 'hora',
       'produto_unico', 'quantidade'],
      dtype='object')

In [67]:
df_produto_aberto = df_produto_aberto[['comanda', 'id_pedido','produto_unico', 'metodo_pagamento',
       'total_pedido', 'data', 'hora',
       'quantidade']]

### Resetando o indice do dataframe

In [68]:
df_tidy = df_produto_aberto.reset_index(drop=True)
df_tidy

,comanda,id_pedido,produto_unico,metodo_pagamento,total_pedido,data,hora,quantidade
0,375,15100033,Cavala Frita ou Grelhada,Cartão de Crédito,44.0,15/01/2023,15:38,1.0
1,374,15099213,Paleta Suína ao vinho,Cartão de Crédito,156.2,15/01/2023,14:42,1.0
2,374,15099213,Refrigerantes em Lata,Cartão de Crédito,156.2,15/01/2023,14:42,2.0
3,374,15099213,Moqueca de Camarão Pequeno,Cartão de Crédito,156.2,15/01/2023,14:42,1.0
4,374,15099213,Refrigerantes em Lata,Cartão de Crédito,156.2,15/01/2023,14:42,2.0
...,...,...,...,...,...,...,...,...
1644,2,13894329,Linguiça Josefina Acebolada,Dinheiro,145.2,12/12/2022,12:45,1.0
1645,2,13894329,Batata Frita,Dinheiro,145.2,12/12/2022,12:45,1.0
1646,2,13894329,Paleta Suína ao vinho,Dinheiro,145.2,12/12/2022,12:45,1.0
1647,2,13894329,Batata Frita,Dinheiro,145.2,12/12/2022,12:45,1.0
1648,1,13894097,Bolinho de Peixe,Cartão de Crédito,41.8,12/12/2022,12:35,1.0

# Inserindo no banco de dados MySQL

In [ ]:
# Cria uma conexão com o banco de dados
engine = create_engine('mysql+pymysql://root:alecrim@localhost/teste')

# Salva o dataframe no banco de dados
df_tidy.to_sql('tabelavendas', engine, if_exists='replace')